.container {
  max-width: 100vw;
  height: 100vh;

  margin: 20px auto;
}

.section {  
  width: 100%;
  display: grid;
  grid-gap: 20px;
}

.section  img {
  width: 350px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  padding: 10px;
  border-radius: 20px;
}
 
.slide {  
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  
  width: 100%;
  max-width: 600px;
  height: 35.0rem;
  border: 1px solid #777;
  border-radius: 20px; 
  overflow: hidden;

  display: grid;
}

.slide-items {
  position: relative;
  grid-area: 1/1 ;
  overflow: hidden;
}

.slide-items > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  pointer-events: none;
  border-radius: 20px;
}

